---
import MainLayout from "@/layout/main.astro";
import { LocalAnimesGrid } from "@/components/local-animes-grid";
import { Pagination } from "@/components/pagination";
import { SearchWithFilters } from "@/components/search";
import { animeFilters } from "@/lib/anime/filters";
import { getAnimeRecordsByStatus } from "@/lib/entity-records";

const animesPerPage = 25;
const { animesCount, animeRecords, currentPage } =
  await getAnimeRecordsByStatus(Astro, "completed", animesPerPage);
---

<MainLayout title="title">
  <SearchWithFilters
    url={new URL(Astro.url)}
    options={animeFilters}
    title="Animes completed"
    client:load
  />
  <LocalAnimesGrid
    records={animeRecords.success ? animeRecords.value : []}
    entityStatus="completed"
    user={Astro.locals.user}
    client:load
  />
  <div class="flex justify-center my-6">
    <Pagination
      url={new URL(Astro.url)}
      lastVisiblePage={Math.ceil(
        (animesCount.success ? animesCount.value : 1) / animesPerPage,
      )}
      currentPage={currentPage}
      client:load
    />
  </div>
</MainLayout>
