---
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { labelVariants } from "@/components/ui/label";
import { inputVariants } from "@/components/ui/input";
import AuthLayout from "@/layout/auth.astro";
import AuthLink from "@/components/auth-link.astro";
if (Astro.locals.user) {
  return Astro.redirect("/");
}
---

<AuthLayout title="Login">
  <h1 slot="card-title">Reset password</h1>
  <h1 slot="card-description">
    Introduce an email to send a reset password link to.
  </h1>
  <Fragment slot="card-content">
    <form method="POST" id="forgot-password-form">
      <section class="grid gap-4">
        <div class="grid gap-2">
          <label class={labelVariants()} for="email">Email</label>
          <input
            transition:persist
            class={inputVariants()}
            id="email"
            name="email"
            placeholder="example@gmail.com"
            required
          />
          <span id="email-error" class="text-sm text-red-500"></span>
        </div>

        <button
          id="button"
          class={cn(buttonVariants({ variant: "default" }), "w-full")}
        >
          Send reset token
        </button>
        <div class="mt-4 text-center text-sm">
          Return to
          <AuthLink href="/auth/signin"> Sign in </AuthLink>
        </div>
      </section>
    </form>
  </Fragment>
</AuthLayout>
<script>
  import { authClient } from "@/lib/auth-client";
  function initializeEvents() {
    const form = document.getElementById("forgot-password-form");
    const emailError = document.querySelector<HTMLSpanElement>("#email-error");
    form?.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = new FormData(e.target as HTMLFormElement);
      const { error } = await authClient.forgetPassword({
        email: formData.get("email") as string,
      });
      if (error?.message && emailError) {
        emailError.innerText = error.message;
      } else if (!error) {
        window.location.href =
          "/auth/reset-password/sent?email=" + formData.get("email");
      }
    });
  }
  initializeEvents();
  document.addEventListener("astro:after-swap", initializeEvents);
</script>
