---
import Head from "@/components/head.astro";
import { LandingPage } from "@/components/landing/page";
import { getCarouselAnimes } from "@/lib/anime/queries";
const currentSeasonSearch = new URLSearchParams([
  ["season", Astro.locals.currentSeason.season],
  ["year", Astro.locals.currentSeason.year],
  ["page", "1"],
]);
const allTimeFavoritesSearch = new URLSearchParams([
  ["orderBy", "score"],
  ["sort", "desc"],
]);
const currentSeasonAnimes = await getCarouselAnimes(currentSeasonSearch, 15);
const allTimeFavorites = await getCarouselAnimes(allTimeFavoritesSearch, 15);
const isDarkMode = Astro.cookies.get("theme")?.value === "dark";
---

<html lang="en" class={isDarkMode ? "dark" : ""}>
  <Head title={"title"} description={"description"} />
  <body>
    <LandingPage
      isDarkMode={isDarkMode}
      currentSeasonAnimes={currentSeasonAnimes}
      ,
      allTimeFavorites={allTimeFavorites}
      client:load
    />
  </body>
</html>
