---
import Head from "@/components/head.astro";
import { NewLandingPage } from "@/components/landing/new-landing-page";
import Planes from "@/components/planes.astro";
const isDarkMode = Astro.cookies.get("theme")?.value === "dark";
---

<html lang="en" class={isDarkMode ? "dark" : ""}>
  <Head title={"Anisearch"} description={"description"} />
  <body
    class="bg-[url('/landing-background-light-4.jpg')] dark:bg-[url('/landing-background-night.png')] bg-no-repeat bg-cover overflow-hidden"
  >
    <Planes />
    <div
      class="bg-[url('/landing-background-light-5.png')] bg-no-repeat bg-cover overflow-hidden absolute top-0 left-0 w-full h-full z-10"
    >
      <NewLandingPage isDarkMode={isDarkMode} client:load />
    </div>
  </body>
</html>
<style>
  body {
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
  }
</style>
