---
import Head from "@/components/head.astro";
import { NewLandingPage } from "@/components/landing/new-landing-page";
const isDarkMode = Astro.cookies.get("theme")?.value === "dark";
---

<html lang="en" class={isDarkMode ? "dark" : ""}>
  <Head title={"Anisearch"} description={"description"} />
  <body
    class="overflow-x-hidden bg-[url('/landing-background-light.jpg')] dark:bg-[url('/landing-background-night.png')]"
  >
    <div class="relative top-0 h-24">
      <img src="/plane.png" alt="Animated Plane" class="plane absolute top-0" />
    </div>
    <NewLandingPage isDarkMode={isDarkMode} client:load />
  </body>
</html>
<style>
  body {
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .plane {
    position: absolute; /* Position the plane within the container */
    top: 50%; /* Vertically center the plane */
    transform: translateY(-50%); /* Adjust for centering */
    left: -200px; /* Start the plane off-screen to the left */
    width: 300px; /* Adjust the size of the plane */
    animation: fly 10s linear infinite; /* Apply the animation */
  }

  @keyframes fly {
    0% {
      left: -200px; /* Start off-screen */
      transform: translateY(-50%) translateY(0px); /* Initial position */
    }
    25% {
      transform: translateY(-50%) translateY(-20px); /* Move up slightly */
    }
    50% {
      transform: translateY(-50%) translateY(0px); /* Back to center */
    }
    75% {
      transform: translateY(-50%) translateY(20px); /* Move down slightly */
    }
    100% {
      left: 100%; /* Move off-screen to the right */
      transform: translateY(-50%) translateY(0px); /* Back to center */
    }
  }
</style>
