---
import MainLayout from "@/layout/main.astro";

import { AnimeDetailsPage } from "@/components/anime.page.tsx";
import { getAnime } from "@/lib/anime/queries";
const mal_id = parseInt(Astro.params.mal_id || "1") || 1;
const userId = Astro.locals.user?.id;
const anime = await getAnime(mal_id, userId);
const animeTitle =
  (anime.success &&
    anime.value.titles?.find((title) => title.type === "English")?.title) ||
  (anime.success &&
    anime.value.titles?.find((title) => title.type === "Default")?.title);
Astro.response.headers.set("Cache-Control", "public, max-age=86400");
Astro.response.headers.set("CDN-Cache-Control", "public, max-age=86400");
---

<MainLayout page="mal_id" title={`Anisearch - ${animeTitle}` || ''} description={animeTitle || ''} image={anime.success ? anime.value.images?.jpg?.large_image_url as string : undefined}>
  {
    anime.success ? (
      <AnimeDetailsPage anime={anime.value} user={Astro.locals.user} client:load />
    ) : (
      <div>Error</div>
    )
  }
</MainLayout>
