---
import MainLayout from "@/layout/main.astro";

import AnimePage from "@/components/anime-page.astro";
import { getAnime } from "@/lib/anime/data-access";
const mal_id = parseInt(Astro.params.mal_id || "0");
const userId = Astro.locals.user?.id
const anime = await getAnime(mal_id.toString(), userId);
---

<MainLayout title="title">
  {anime.isOk() ? <AnimePage anime={anime.value} user={Astro.locals.user} /> : <div>Error</div>}
</MainLayout>
