---

---

<div class="top-[15rem] plane-container plane"></div>
<div class="top-[15rem] plane-container plane"></div>
<div class="top-[15rem] plane-container plane"></div>
<div class="top-[15rem] plane-container plane"></div>
<div class="top-[15rem] plane-container plane"></div>
<script>
  import { createPlaneAnimations } from "@/lib/plane-animations";
  const planes = document.querySelectorAll<HTMLElement>(".plane");
  planes.forEach((plane) => {
    const direction = ["LTR", "RTL"][Math.floor(Math.random() * 2)] as
      | "LTR"
      | "RTL";
    createPlaneAnimations(plane, direction);
  });
</script>
<style>
  .plane-container {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>
