---

---

<div class="top-[15rem] plane-container plane-far"></div>
<div class="top-[15rem] plane-container plane-far"></div>
<div class="top-[15rem] plane-container plane-far"></div>
<script>
  import { createPlaneAnimations } from "@/lib/animations/planes";
  const planes = document.querySelectorAll<HTMLElement>(".plane-far");
  planes.forEach((plane) => {
    const direction = ["LTR", "RTL"][Math.floor(Math.random() * 2)] as
      | "LTR"
      | "RTL";
    createPlaneAnimations(plane, direction, {
      sizeOptions: [40, 60, 80]
    });
  });
</script>
<style>
  .plane-container {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>

