---
import MainLayout from "@/layout/main.astro";
import { MangaDetailsPage } from "@/components/manga.page.tsx";
import { getManga } from "@/lib/manga/queries";
import { getConnectionString } from "@/lib/utils";
const mal_id = parseInt(Astro.params.mal_id || "1") || 1;
const userId = Astro.locals.user?.id;
const manga = await getManga(mal_id, userId, getConnectionString(Astro));
const mangaTitle =
  (manga.success &&
    manga.value.titles?.find((title) => title.type === "English")?.title) ||
  (manga.success &&
    manga.value.titles?.find((title) => title.type === "Default")?.title);
---

<MainLayout page="mal_id" title={`Anisearch - ${mangaTitle}` || ''} description={mangaTitle || ''} image={manga.success ? manga.value.images?.jpg?.large_image_url as string : undefined}>
  {
    manga.success ? (
      <MangaDetailsPage manga={manga.value} user={Astro.locals.user} client:load />
    ) : (
      <div>Error</div>
    )
  }
</MainLayout>
